* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url("../image/logos2/Untitled.png");
    background-size: cover;
}

nav {
    background: rgb(67, 175, 218);
    height: 70px;
    width: 100%;
    border-top: 1px solid;
}

nav ul {
    float: left;
    margin-left: 25px;
}

nav ul li {
    
    display: inline-block;
    line-height: 20px;
    margin: 0px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover {
    background: white;
    transition: .5s;
}

table{
    align-items: center;
    background-image: url("../image/logos2/tumblr_pu0ndkstCx1uzwgsuo1_400.gif");
    background-size: cover;
    margin-top: 100px;
    /* margin-left: 550px; */
}
th{
    font-size: large;
    color: aqua;
    padding: 7px; 
}
td{
    font-size: large;
    color: aqua;
    padding: 7px;
}