* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 191, 218);
    height: 10px;
    padding: 30px 2%;
    z-index: -1;
}

.actual {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    float: left;
    margin-left: 25px;
}

nav ul li {

    display: inline-block;
    line-height: 20px;
    margin: 0px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav li a:hover {
    background: white;
    transition: .5s;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 191, 218);
    height: 20px;
    padding: 30px 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logout{
    position: absolute;
    right: 15px;
}
.loginbtn button{
    border: none;
    background-color:rgb(44, 191, 218);
}
.loginbtn img{
    cursor: pointer;
    height: 30px;
    border: none;
    transition: all 0.2s ease 0s;
}
.loginbtn img:hover{
    transform: scale(2);
    transition: .3s;
}