.footer{
    align-items: bottom;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    background-color: rgb(66, 80, 90);
    margin-bottom: 0px;
}

.footer .box-container .box h3{
    font-size: 12px;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 12px;
    color:var(--light-color);
    padding:5px 1px;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

<<<<<<< HEAD
.footer .box-container .share{
    padding:1rem 0;
    text-align: center;
}

.footer .box-container .share i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:rgb(245, 245, 245);
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
    justify-content: center;
    
}

.footer .share i:hover{
    background:var(--black);
=======
.footer .box-container .box .map{
    width:100%;
}
.share{
    place-items:initial;
>>>>>>> c8fdd4df5e71e0c366234784b3b492340357e603
}
.share{
    
}
