@media screen {
    
}
*{
    margin: 0;
    padding: 0;
}
.header{
    height:450px;
    background: #000000;
    background-image: url("../image/logos3/main-bg-img.gif");
    background-size:cover;
    overflow: visible;
}
#uctxt{
    height: 350px;
    width: 800px;
    margin-left: 100px;
    text-align: right;
}
#logo{
    width: 360px;
    height: 300px;
    text-align: left;
    margin: 0px;
    margin-left: 40px;
    width: 650;
}
/* .navbar{
    background-color: gray;
    height: 80px;
    text-align: left;
} */