*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #79d6e2;
    background-image: url("../image/logos3/banner-bg.jpg");
    background-size: contain;
}


/* HEADER CSS */
.header{
    height:450px;
    background: #000000;
    background-image: url("../image/logos3/main-bg-img.gif");
    background-size:cover;
    overflow: visible;
}
#uctxt{
    height: 350px;
    width: 800px;
    margin-left: 100px;
    text-align: right;
}
#logo{
    width: 360px;
    height: 300px;
    text-align: left;
    margin: 0px;
    margin-left: 40px;
    width: 650;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 191, 218);
    height: 20px;
    padding: 30px 2%;
}
.actual {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav_links li{
    margin-left: 40px;
    display: inline-flex;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 15px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(10, 55, 85);
}
.nav_links li a:hover {
    color: rgb(10, 37, 126);
    padding: 5px;
    cursor: pointer;
}
.loginbtn button{
    background-color:rgb(44, 191, 218);
    border-radius: 50px;
}
.loginbtn img{
    cursor: pointer;
    height: 60px;
    border: none;
    transition: all 0.2s ease 0s;
}
.loginbtn img:hover{
    padding: 5px;
}




/* Navbar 2 */
.nav2{
    position:fixed;
    margin-bottom: 0;
    padding-top: 400px;
}
/* Dropup Button */
.dropbtn {
    padding: 2px;
    background-color: #01d5f1;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0;
  }
  .dropbtn img{
      height: 40px;
      width: 40px;
  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    padding-bottom: 5px;
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #69a8a0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {
        background-color: rgb(7, 144, 185)
    }
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    padding-left: 10px;
    background-color: #147fe4;
    transition: all 0.4s ease 0s;
  }

  /* book cards */
 
  /*featured*/
#featured{
    background-color: rgb(189, 236, 226, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 100px 20px;
}
#featured h2{
    text-transform:uppercase;
    text-decoration: underline;
    text-decoration: dotted;
    color: rgb(6, 66, 119);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

.cards{
    
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 2px;
    border-color: #000000;
    text-align: center;
}
.cards .card img{
    width: 100%;
    display: block;
}

#featured{
    display: grid;
}


/*arrivals*/

#arrivals{
    display: grid;
    background-color: rgb(189, 236, 226, 0.3);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 100px 20px;
}
#arrivals h2{
    text-transform:uppercase;
    text-decoration: underline;
    text-decoration: dotted;
    color: rgb(6, 66, 119);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}
#arrivals img{
    width: 200px;
}
#arrivals .card{
    align-items: initial;
    margin: 30px;
}
#arrivals .cards{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}


/*footer*/

.footer .box-container{
    color: #01d5f1;
    margin-bottom: 0px;
    background-color: #171c30;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2.5rem;
}

.footer .box-container .box h3{
    font-size: 20px;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2px;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    /* margin-left: 10px; */
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}