* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/19366.jpg");
    background-size: 1400px;
    background-position: center;
    background-position-y: 10px;
}

h1 {
    margin: 40px;
    font-size: 40px;
    text-align: center;
    text-decoration: underline overline;
    color: rgb(55, 32, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showbtn {
    right: 8px;
    position: fixed;
    margin: 8px;
    background-color: cornsilk;
    padding: 10px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;
    font-size: 20px;

}

.frm {
    align-items: center;
    background-image: url("../image/blue-background-023.jpg");
    background-color: black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 30px;
    border-radius: 20px;
    background-size: cover;
    margin-top: 1px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
}

.frm input {
    margin: 5px;
}

.frm label {
    font-size: large;
    color: rgb(109, 226, 226);
    padding: 7px;
    text-decoration: darkgrey;
}

.frm input[type=submit], .btn {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 1px;
    border-radius: 30px;
    border: 2px solid;
    color: rgb(8, 20, 129);
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.frm input[type=submit]:hover,
.btn:hover {
    cursor: pointer;
    background-color: #73b1eb5b;
    color: rgb(0, 0, 0);
}




.btn {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 1px;
    border-radius: 30px;
    border: 2px solid;
    color: rgb(8, 20, 129);
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.btn:hover {
    cursor: pointer;
    background-color: #73b1eb5b;
    color: aqua;
}