body{
    background-image: url("../image/logos3/banner-bg.jpg");
    background-size: cover;
}
h1{
    margin: 15px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline overline rgba(0, 0, 0, 0.3);
}
#kart{
    position: fixed;
    right:0mm;
    margin: 5px;
    color: rgb(4, 67, 240);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
#kart:hover{
    transform: scale(110%);
}

section #shopbooks{
    background-color: rgb(74, 219, 238);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 100px 20px;
}
section .cards{
    height: 450px;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
section .cards .card {
    box-shadow: 0 4px 8px 0 rgba(76, 140, 223, 0.2);
    max-width: 300px;
    margin: 0;
    text-align: center;
    font-family: arial;
    float: left;
    /* float: right; */
}

section .cards .card p {
    margin: 8px;
}

section .cards .card h3 {
    margin-bottom: 8px;
}

section .cards .card .price {
    color: #f123f1;
    font-size: 22px;
}

section .cards .card button {
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

section .cards .card button:hover {
    opacity: 0.7;
}

section .card {
    align-items: right;
}

.view {
    display: none;
}

#shopbooks{
    background-color: rgb(189, 236, 226, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 100px 20px;
    overflow: auto;
    height: 1000px;
}
#shopbooks h2{
    text-transform:uppercase;
    text-decoration: underline;
    text-decoration: dotted;
    color: rgb(6, 66, 119);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

.cards{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 2px;
    border-color: #000000;
    text-align: center;
}
.cards .card img{
    width: 100%;
    display: block;
}
#shopbooks{
    display: grid;
}


/*footer*/

.footer .box-container{
    color: #01d5f1;
    margin-bottom: 0px;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem;
}
.footer .box-container .social{
    gap: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer .box-container .box h3{
    font-size: 20px;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2px;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    /* margin-left: 10px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}