* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000ba;
    background-image: url("../image/logos3/cropped_block.png");
    background-size: cover;
    font-family: 'Arial';
}

#reg {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 70px;
    background-color: rgba(60, 222, 243, 0.5);
    color: #fff;
    background-size: cover;
    border-radius: 100px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 10px #070708;
}

h1 {
    text-align: center;
    color: #173575;
    margin: auto;
    padding: 20px;
    text-decoration: underline rgb(0, 0, 0);
    font-size: xxx-large;
    font-family: 'sans-serif';
}

label {
    color: #070708;
    font-size: 17px;
}

.span {
    text-decoration: darkblue;
    text-decoration: underline;
}


.submit {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 16px 30px;
    border-radius: 30px;
    border: 20px;
    color: rgb(8, 20, 129);
    width: 150px;
    text-align: center;
    margin-top: 15px;
    margin-left: 110px;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.6s ease 0s;
}

.submit:hover {

    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: bisque;
}


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 191, 218);
    height: 20px;
    padding: 30px 2%;
    overflow: hidden;
}

nav li {
    margin-left: 40px;
    display: inline-flex;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 15px;
}

nav li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(10, 55, 85);
}

a:hover {
    color: rgb(10, 37, 126);
    padding: 5px;
    cursor: pointer;
}