body
{  
    margin: 0;  
    padding: 0;  
    background-color:#000000ba;
    background-image: url("../image/logos2/Untitled.png");
    background-size: cover;
    font-family: 'Arial';
}
#reg{
    width: 382px;  
    overflow: hidden;  
    margin: auto;
    margin: 20 0 0 450px;  
    padding: 70px;  
    background: #23463f;
    background-image: url("../image/logos2/tumblr_pu0ndkstCx1uzwgsuo1_400.gif");
    background-size: cover;
    border-radius: 100px ;
}
h1{  
    text-align: center;  
    color: #b3e2e9;  
    margin: auto;
    padding: 20px;
    text-decoration: underline rgb(0, 0, 0);
    font-size: xxx-large;
    font-family: 'sans-serif';
}
label{  
    color: #6a52f1;  
    font-size: 17px;  
}
.span{
    text-decoration: darkblue;
    text-decoration: underline;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
/* .submit{

} */